<div class="audio-settings">
	<div>
		<h3>General volume:</h3>
		<button (click)="changeValue($event, 'general', -1)">-</button>
		<progress value="{{ VOLUMES['general'] }}" max="100" (click)="changeValue($event, 'general', 0)"></progress>
		<button (click)="changeValue($event, 'general', 1)">+</button>
	</div>
	<div>
		<h3>Navi volume:</h3>
		<button (click)="changeValue($event, 'navi', -1)">-</button>
		<progress value="{{ VOLUMES['navi'] }}" max="100"></progress>
		<button (click)="changeValue($event, 'navi', 1)">+</button>
	</div>
	<div>
		<h3>Speech volume:</h3>
		<button (click)="changeValue($event, 'speech', -1)">-</button>
		<progress value="{{ VOLUMES['speech'] }}" max="100"></progress>
		<button (click)="changeValue($event, 'speech', 1)">+</button>
	</div>
	<div>
		<h3>Balance:</h3>
		<button (click)="changeValue($event, 'balance', -1)">Left</button>
		<progress value="{{ VOLUMES['balance'] }}" min="-50" max="50"></progress>
		<button (click)="changeValue($event, 'balance', 1)">Right</button>
	</div>
	<div>
		<h3>Fader:</h3>
		<button (click)="changeValue($event, 'fader', -1)">Front</button>
		<progress value="{{ VOLUMES['fader'] }}" min="-50" max="50"></progress>
		<button (click)="changeValue($event, 'fader', 1)">Rear</button>
	</div>
		
</div>