<div class="audio-settings">
	<app-settings-item [value]="VOLUMES['general']" (valueChanged)="onValueChanged($event)" label="General volume:" key="general">
	</app-settings-item>
	<app-settings-item [value]="VOLUMES['navi']" (valueChanged)="onValueChanged($event)" label="Navi volume:" key="navi">
	</app-settings-item>
	<app-settings-item [value]="VOLUMES['speech']" (valueChanged)="onValueChanged($event)" label="Speech volume:" key="speech">
	</app-settings-item>
	<app-settings-item [value]="VOLUMES['balance']" (valueChanged)="onValueChanged($event)" label="Balance:" key="balance"
	 min="-50" max="50">
	</app-settings-item>
	<app-settings-item [value]="VOLUMES['fader']" (valueChanged)="onValueChanged($event)" label="Fader:" key="fader" min="-50"
	 max="50">
	</app-settings-item>
</div>