body {
	width: 1820px;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	/* background: url('./assets/general/background2.jpeg') no-repeat center center; */
	height: -webkit-fill-available;
	top: 0;
	margin-left: 100px;    
	display: flow-root;
	background-image: linear-gradient(#fff, #444);
	box-sizing: border-box;
}

ul {
	background: #ffffffc7;
}

.list-container {
    overflow: hidden;
    top: 140px;
    position: relative;
}