<div class="others-settings">
	<div class="units">
		<h3>Units:</h3>
		<div (click)="onValueChanged($event, 'units', 0)">
			<input type="radio" name="units" [checked]="OTHERS.units.selected === 0">
			<label>Kilometres</label>
		</div>
		<div (click)="changeValue($event, 'units', 1)">
			<input type="radio" name="units" [checked]="OTHERS.units.selected === 1">
			<label>Miles</label>
		</div>
	</div>
	<hr />
	<app-settings-item [disabled]="true" [value]="OTHERS['memory']" (valueChanged)="onValueChanged($event)" label="Memory usage (%):" key="memory"></app-settings-item>

</div>