nav {
	position: absolute;
	top: 0;
	display: inline-flex;
	width: 90%;
}

h2 {
	margin: 20px auto;
}

.date-container {
	font-size: 35px;
	margin-right: 0; 
}

.date {
    word-break: break-word;
    width: 170px;
    text-align: right;
}