<div>
	<app-source-selector (selectOption)="selectSource($event)" [component]="'media'" [currentSource]="currentSource"></app-source-selector>
	<div class="track-title">
		<span class="fav-ico-container">
			<img *ngIf="currentTrack?.isFavorite" class="fav-ico" src="assets/media/favorite_icon.png">
		</span>
		<span>
			{{ currentTrack.title || currentTrack.name }}
		</span>
	</div>
	<div class="track-info">
		<div>
			<progress value="34" max="100"></progress>
		</div>
		<div class="time-info">
			<span class="current-time">1:00</span>
			<span [hidden]="!(currentTrack.trackID || currentTrack.trackID === 0)" class="track-number">Track {{ currentTrack.trackID + 1 }}/{{ currentTrack.totalTracks }}</span>
			<span [hidden]="currentTrack.trackID >= 0" class="track-number">Track --/--</span>
			<span class="total-time">3:02</span>
		</div>
	</div>
	<app-controls (previous)="prevTrack($event)" (next)="nextTrack($event)" (openList)="openList($event)"></app-controls>
	<app-coverart></app-coverart>
</div>
