h3 {
    font-size: 35px;
}

h6 {
    margin: 10px 0;
    font-size: 30px;
    margin-left: 70px;
}

.settings-item meter {
    width: 590px;
    left: 200px;
    height: 30px;
}

/*div {
    margin-bottom: 70px;
}*/

/*progress::-webkit-progress-value {
    background: lightblue;
}*/

span {
    margin: 0 20px 0;
    width: 100px;
    display: -webkit-inline-box;
}

.settings-item span {
    text-align: -webkit-center;
    font-size: 45px;
}

.settings-item button {
    text-align: -webkit-center;
    font-size: 45px;
    width: 100px;
    margin: 0 30px;
    -webkit-appearance: button-bevel;

}

.settings-item span:last-child {
    position: absolute;
    right: 0;
    text-align: -webkit-center;
}

.settings-item div:last-child {
    margin-bottom: 25px;
}

.settings-item button:last-child {
    /* position: absolute; */
    right: 0;
    text-align: -webkit-center;
    width: 100px;
    -webkit-appearance: button-bevel;
}

.settings-item input[type=radio] {
    width: 30px;
    height: 30px;
    margin: 0 15px;
    vertical-align: middle;
}

.settings-item hr {
    width: 100%;
    height: 0;
    position: inherit;
}