.show-module {
    display: block;
}
.hide-module {
    display: none;
}

.settings {
    overflow: hidden;
    top: 140px;
    position: relative;
}

.list-item {
	display: block;
    width: 900px;
    font-size: 55px;
    border-bottom: 1px solid black;
}

ul {
	left: 300px;
    position: relative;
    height: 550px;
    width: max-content;
    overflow: auto;
    overflow-y: scroll;
}

.icon {
    width: 45px;
    margin-right: 20px;
}

.settings-controls {
    display: flex;
    align-items: center;
}