.list-container {
    overflow: hidden;
}

.list-item {
	display: block;
    width: 900px;
    font-size: 45px;
    border-bottom: 1px solid black;
}

.fav-ico {
    height: 30px;
    margin-top: 10px;
}

.fav-ico-container {
	width: 50px;
    display: -webkit-inline-box;
}

ul {
	left: 300px;
    position: relative;
    height: 550px;
    width: max-content;
    overflow: auto;
    overflow-y: scroll;
}