.source-item {
    margin-bottom: 5px;
    width: 137px;
    display: inline-flex;
    height: 80px;
    align-items: center;    
    background-color: #ffffffc7;
    border-radius: 10px;
}

.source-icon {
    width: 40px;
    margin: 0 20px;
}

.source-label {

}

.source-selector {
    position: absolute;
    left: -160px;
    line-height: 103px;
    display: inline-grid;
}

.active {
    border: 1px solid;
    border-color: #bb181873;
    border-radius: 10px;
}

hr {
    width: 0;
    height: 500px;
    position: absolute;
    right: -10px;
    top: -60px;
}