.map {
    height: 620px;
    width: 1720px;
    top: 80px;
    position: absolute;
}

.home-button, .enter-address-button {
    position: absolute;
    top: 90px;
    width: 85px;
    z-index: 1;
    height: 67px;
    text-align: center;
    align-content: center;
    display: grid;
    left: 160px;
    background-color: rgb(123, 152, 186);
}
.enter-address-button {
    left: 260px;
}

.enter-address {
    position: absolute;
    top: 140px;
    left: 725px; /* (1920 - 450) / 2 */
    width: 450px;
    border: solid 1px black;
    padding: 20px;
    background-color: #ffffffc7;
    height: 500px;
}

.enter-address form label {
    display: block;
    width: 450px;
}

.enter-address form label input {
    width: -webkit-fill-available;
}

.button-enter-address {
    width: 41%;;
    height: 40px;
    -webkit-appearance: button-bevel;
    margin: 20px;
}

.span-enter-address {
    display: inline;
    margin: auto;
}