.map {
    height: 550px;
    width: 1720px;
    position: relative;
    justify-content: center;
    display: flex;
}

.home-button, .enter-address-button, .recent-dest-button {
    position: absolute;
    top: 175px;
    width: 220px;
    z-index: 1;
    height: 30px;
    text-align: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: flex;
    left: 110px;
    background-color: rgb(123, 152, 186);
}

.home-button div, .enter-address-button div, .recent-dest-button div {
    line-height: 30px;
}

.home-button img, .enter-address-button img, .recent-dest-button img {
    width: 25px;
    height: auto;
    margin: auto 15px;
}

.enter-address-button {
    top: 215px;
}

.recent-dest-button {
    top: 255px;
}

.enter-address {
    position: absolute;
    top: 5px;
    width: 450px;
    border: solid 1px black;
    padding: 20px;
    background-color: #ffffffc7;
    height: 500px;
}

.enter-address form label {
    display: block;
    width: 450px;
}

.enter-address form label input {
    width: -webkit-fill-available;
}

.button-enter-address {
    width: 41%;;
    height: 40px;
    -webkit-appearance: button-bevel;
    margin: 20px;
}

.span-enter-address {
    display: inline;
    margin: auto;
}