<div class="settings-item">
	<app-settings-item [value]="DISP['brighntness']" (valueChanged)="onValueChanged($event)" label="Brighntness:" key="brighntness"></app-settings-item>
	
	<h3 [style.font-size.px]="'35'">Colors:</h3>
	<div>
		<h6>Red:</h6>
		<app-settings-item [value]="DISP['red']" (valueChanged)="onValueChanged($event)" label="" key="red"></app-settings-item>

		<h6>Green:</h6>
		<app-settings-item [value]="DISP['green']" (valueChanged)="onValueChanged($event)" label="" key="green"></app-settings-item>

		<h6>Blue:</h6>
		<app-settings-item [value]="DISP['blue']" (valueChanged)="onValueChanged($event)" label="" key="blue"></app-settings-item>
	</div>
	
	<app-settings-item [value]="DISP['contrast']" (valueChanged)="onValueChanged($event)" label="Contrast:" key="contrast"></app-settings-item>
</div>